* {
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

img{
    max-width: 50%;
    max-height: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block; 
}

.hr1{
    width: 100%;
    size: 5;
    color: black;
}

.hr2{
    width: 30%;
    size: 5;
    color: black;
}

.hr3{
    margin-top: 5%;
}

h4, .part4{
    text-align: center;
}

.part1{
    text-align: center;
}

#facebook{
    background-color: rgb(66, 103, 178);
    color: white;
    min-width: 60%;
    border-color:rgba(255, 255, 255, 0);
}

#apple{
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
    color: white;
    min-width: 60%;
    border-color:rgba(255, 255, 255, 0);
}

#google{
    margin-top: 2%;
    background-color:rgb(255, 255, 255);
    color: rgb(99, 134, 120);
    min-width: 60%;
    border:1px solid black;
}


#number{
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    color: rgb(99, 134, 120);
    min-width: 60%;
    border:1px solid black;
}

.plain{
    background-color: rgb(255, 255, 255);
    color: rgb(99, 134, 120);
    min-width: 60%;
    border:1px solid black;
}

.form{
    display: flex;
    flex-direction: column;
}

.or{
    display: flex;
    flex-direction: row;
    margin: 0% 15% 0% 15%;
}
 
button{
    border-radius: 50px;
    height: 35px;
}

input[type="text"],[type="password"]{
    width: 75%;
    border: 1px solid black;
    height: 50px;
    margin-top: 5px;
}

input[type=checkbox] {
    accent-color:#1DB954;
}

.loginbtn{
    background-color:#1DB954;
    border:none;
}

.part2{
    text-align: justify;
    margin-left: 0%;
}

.part3{
    margin-left: 0%;
}

.section31{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 450px) {
img{
    width: 15%;
    height: 15%;        
}

.form{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.part2{
    text-align: justify;
    margin-left: 19%;
}

.part3{
    margin-left: 20%;
}
.section311{
    margin-right: 45%;
}

.section311{
    display: inline-block;
    margin-right: 20%;
    font-size: smaller;
}

.section31{
    display: flex;
    flex-direction: row;
}

.hr3{
    margin: 5% 20% 0% 0%;
}

.loginbtn{
    width:25%
}
}